[Desktop Entry]
Encoding=UTF-8
Name=Visual Paradigm
Comment=Visual Paradigm 15.1
Exec=/opt/Visual_Paradigm_15.1/Visual_Paradigm
Icon=/opt/Visual_Paradigm_15.1/.install4j/i4j_extf_12_aprh35_hq8uam.png
Categories=Graphics;
Terminal=0
Type=Application
